<div class="top_header">
    <a href="tel:(412) 576-4921"> (412) 576‑4921 </a>
    <a href="https://www.google.com/maps/place/3401+Rosebriar+Ave,+Glenshaw,+PA+15116/@40.5492491,-79.9716432,17z/data=!3m1!4b1!4m6!3m5!1s0x88348ce38fbabc1f:0x3a32d43f6270c9df!8m2!3d40.5492451!4d-79.9690683!16s%2Fg%2F11c140pwbv?entry=ttu&g_ep=EgoyMDI1MDgyNS4wIKXMDSoASAFQAw%3D%3D"> 3401 Rosebriar Ave, Glenshaw, PA 15116 </a>
</div>
<div class="header">
    <img src="images/logo.svg" id="logo"/>
    <div id="nav_bar">
        <button> Home </button>
        <button> About </button>
        <button> Contact </button>
        <button> Projects </button>
    </div>
</div>